* {
  box-sizing: border-box;
}


.top, .bottom, .left, .right {
  background: #FC9E05;
  position: fixed;
}

.left, .right {
  top: 0; 
  bottom: 0;
  width: 1em;
}

.left { 
  left: 0; 
}

.right { 
  right: 0; 
}

.top, .bottom {
  left: 0; 
  right: 0;
  height: 1em;
}

.top { 
  top: 0; 
}

.bottom { 
  bottom: 0; 
}

.container {
	margin: 3em auto;
	width: 600px;
}

.hidden {
	display: none;
}

.stack-image {
	float: left;
}

.stack-image {
	background: url('../images/stack-icon.png') no-repeat center center;
	width: 200px;
	height: 200px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin-right: 1em;
	border-radius: 5px;
}

.intro {
	margin-bottom: 1em;
}

.stack {
	clear: both;
}

.stack h3 {
	color: dodgerblue;
}

.inspiration { 
	margin-left: 3em;
}

.result {
	border: 2px solid dodgerblue;
	border-radius: 10px;
	padding: 5px;
	margin: 0 auto 2em auto;
}

.pic {
	float: right;
}

.search-results {
	margin-top: 5%;
	margin-bottom: 5%;
}

.error {
	background-color: #F78181;
	padding: 1em;
}
